<div id="mySidenav" class="sidenav">
    <span class="closebtn"><i class="fa fa-times"></i></span>

    <% if(typeof menu !== 'undefined' && menu.length > 0) {
        menu.forEach(function(m) { 
            if(m.acces == true) {%><a href="/<%= m.pg %>"><%= m.intitule %></a><% } else { %><div><%= m.intitule %></div><% } 
         });
    } else { %>
        <div class="NoMenu">Pas de menu!<br />Vérifier les droits</div>
    <% } %>

</div>

<!-- Use any element to open the sidenav -->
<span id="IconOpenMenu">
    <i class="fa fa-bars" aria-hidden="true"></i>
</span><span>Menu</span>