<span id="IconOpenInfoUser">
    <i class="fa fa-user-circle" aria-hidden="true"></i>
</span><span>Info utilisateur</span>

<div id="EncartInfoUser">
    <div>Utilisateur : <span id="Utilisateur"><%= UserName %></span></div>
    <div>Rôle(s) : <span id="Role"><%= Rights.join(", "); %></span></div>
</div>
