# Logs
log/*.log
npm-debug.log*

# Dependency directories
node_modules/

# Fichier de config
#config/production.json

# Fichiers .css et .js coté client générés avec Gulp pour la prod.
public/assets/dist/