<configuration>
  <system.webServer>

    <!-- indicates that the app.js file is a node.js application 
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>
	
	<rewrite>
		<rules>
			<rule name="sendToNode">
				<match url="/*" />
				<action type="Rewrite" url="app.js" />
			</rule>
		</rules>
	</rewrite>
	
	
	<!-- 
	La balise 'iisnode' configure le comportement du module IIS node.js.
	Pour connaitre toutes les propriétés de configuration, rendez-vous sur " https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config#L77 "
	
	* promoteServerVars : Pour permettre de récupérer entre autre l'identifiant Windows afin de permettre gestion des droits sur l'appli en fct° de qui l'on est.
	  comma delimited list of IIS server variables that will be propagated to the node.exe process in the form of 
      x-iisnode-<server_variable_name> HTTP request headers; for a list of IIS server variables available see 
      http://msdn.microsoft.com/en-us/library/ms524602(v=vs.90).aspx; for example "AUTH_USER,AUTH_TYPE".
	  
	* node_env : Determines the environment (production, development, staging, ...) in which 
      child node processes run; if nonempty, is propagated to the child node processes as their NODE_ENV
      environment variable; the default is the value of the IIS worker process'es NODE_ENV
      environment variable.
	  
	* loggingEnabled : Controls whether stdout and stderr streams from node processes are captured and made available over HTTP.
	  Ici on choisit de désactiver les logs via IIS (ds le repertoire 'iisnode' à la racine sdu site) car on a des logs "maison" qui sont plus précis (en revanche pas d'interface web)
    
	* devErrorsEnabled : Controls how much information is sent back in the HTTP response to the browser when an error occurrs in iisnode; 
      when true, error conditions in iisnode result in HTTP 200 response with the body containing error details; when false,
      iisnode will return generic HTTP 5xx responses
	-->
	<iisnode 
	promoteServerVars="AUTH_USER,AUTH_TYPE"  
	node_env="production" 
	loggingEnabled="false"
	devErrorsEnabled="true"
	/>
    
  </system.webServer>
</configuration>