<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>Accès refusé</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700" rel="stylesheet" type="text/css">
        <script src="https://use.fontawesome.com/68984c879a.js"></script>       
        <link href="/styles/erreur.css" rel="stylesheet">
    </head>
    <body>
        <div class="environnement">Environnement : '<%= ENV %>'</div>
        <div class="AccesRefuse" id="Wrapper_Encart">
            <div>
                <div id="Encart">
                    <div id="Titre">
                        <i class="fa fa-thumbs-down"></i> Accès refusé pour '<%= UserName %>'  
                    </div>
                    <div class="msgDetailAccesRefuse">
                        <p><%= msgAccesRefuse %></p>
                        <p>Veuillez contacter le service informatique.</p>
                        <p>Merci de votre compréhension.</p>
                    </div>
                </div>
            </div>
        </div>
    <body>
</html>