<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>Erreur</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700" rel="stylesheet" type="text/css">
        <script src="https://use.fontawesome.com/68984c879a.js"></script>       
        <link href="/styles/erreur.css" rel="stylesheet">
    </head>
    <body>
        <div class="environnement">Environnement : '<%= ENV %>'</div>
        <div id="Wrapper_Encart">
            <div>
                <div id="Encart">
                    <div id="Titre">
                        <i class="fa fa-exclamation-triangle"></i> Erreur   
                    </div>
                    <div id="msg"><%= erreur_msg %></div>
                    <div id="stack"><%= erreur_stack %></div>
                </div>
            </div>
        </div>
    <body>
</html>