<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>Liste des accords de réversion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <% include partials/bundleCSS.ejs %>
        <% include partials/bundleJS_ListeAccords.ejs %>
    </head>
    <body>
        <% include partials/menu.ejs %>
        <% include partials/help.ejs %>
        <% include partials/userInfo.ejs %>

        <div class="Masque Hidden"></div>
        <div class="WrapLoader Hidden"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></div>

        <div id="main" class="listeDesAccords">
        
            <div class="bandeauHaut">
                <div>Liste des accords de réversion</div>
                <div>
                    
                    <div>
                        <i class="fa fa-filter IconSearch"></i>
                        <input type="text" class="SearchFieldBandeau" id="SearchNomAccord" name="" value="" placeholder="Filtrer sur un CC, un nom d'accord, ou de groupe" autocomplete="off" />
                        <i class="fa fa-times-circle" id="DeleteValueSearchNomAccord"></i>
                        <select class="SearchFieldBandeau" id="SelectTypeAccord" autocomplete="off">
                            <option value="All">Tous les accords</option>
                            <option value="PasValid">Accords avec réversion pas validée</option>
                            <option value="PasReglee">Accords avec réversion validée mais pas réglée</option>
                            <option value="Reglee">Accords avec réversion réglée</option>
                        </select>
                    </div>
                    
                </div>
            </div>


            <div class="blocContenu">

                <div id="CommentMoteurRecherche">
                    <!--<div id="NbAccords"><span><%= ListeAccords.length %></span> accord(s) créé(s)</div>-->
                    <div id="NbAccords"><span></span> accord(s) affiché(s)</div>
                    <span id="TextNoResults" class="Hidden"><i class="fa fa-exclamation-circle"></i> Pas de résultat(s) pour '<span></span>'</span>
                    <span id="TxtTooShort" class="Hidden"><i class="fa fa-exclamation-circle"></i> Votre recherche doit compter <span></span> caractères minimum</span>
                </div>

                <div class="MskTopListe"></div>

                <div class="FdListe ListeEtbl">
                    <div class="Enteteliste Lgn">
                        <div id="ClnDateCreation" class="ColonneOrdonnee" data-isdate="true">Date de création<i class="IconeClassmt fa fa-sort-amount-desc"></i></div>
                        <div id="ClnNomAccord">Nom de l'accord<i class="IconeClassmt fa fa-sort-alpha-asc"></i></div>
                        <div>Infos sur l'accord</div>
                        <div id="ClnRevValidee" data-isdate="true">Réversion validée<i class="IconeClassmt fa fa-sort-amount-asc"></i></div>
                        <div id="ClnRevReglee" data-isdate="true">Réversion réglée<i class="IconeClassmt fa fa-sort-amount-asc"></i></div>
                        <div id="ClnSommeVersee">Somme versée<i class="IconeClassmt fa fa-sort-amount-asc"></i></div>
                    </div>

                    <div class="ContenuListe">
                        <% ListeAccords.forEach(function(accord) { %>
                            <% include templates/ligneListeAccords %>
                        <% }); %>
                    </div>
                <div>

            </div>

        </div>
    </body>
</html>